<td><%= link_to 'Jobs', '/jobs', :class => "mdl-button" %></td>
<td><%= link_to 'Skills', '/skills', :class => "mdl-button"  %></td>
<td><%= link_to 'Users', '/users', :class => "mdl-button"  %></td>
